<%User.all.each do |i|%>
  <div><%=i.first_name%></div> 
  <div><%=i.last_name%></div> 
  <div><%=i.age%></div> 
  <div><%=i.city.name%></div> 
  <div><%=i.description%></div> 
  <div><%=i.email%></div> 
  <div><%=i.password%></div> 
  <div><p>$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$</p></div>
<%end%>